<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
 
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div id="gitalk-container"></div>
      </div>
    </main>
    <script> 
      const gitalk = new Gitalk({
        clientID: 'f020fbf702542dd84b05',
        clientSecret: '119c6b5950044193a8a3eed937012499aaac34fa',
        repo: 'https://github.com/DiligentYe/DiligentYe.github.io.git',
        owner: 'DiligentYe',
        admin: ['DiligentYe'],
        id: decodeURI(window.location.pathname),
      })

      gitalk.render('gitalk-container')
    </script>
  </body>

</html>
