<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
 
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div id="gitmentContainer">
        </div>
      </div>
    </main>
    <script> 
      var gitment = new Gitment({ 
        owner: 'DiligentYe', 
        repo: 'https://github.com/DiligentYe/DiligentYe.github.io.git', 
        oauth: {
          client_id: 'f020fbf702542dd84b05', 
          client_secret: '119c6b5950044193a8a3eed937012499aaac34fa', 
        }
      }); 
      gitment.render('gitmentContainer'); 
    </script>
  </body>

</html>
