<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
 
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div id="gitalk-container"></div>
      </div>
    </main>
    <script> 
      const gitalk = new Gitalk({
        clientID: '4567a3c4249760e03c45',
        clientSecret: 'ac62226f3a5245f0edb4e548af2f970490679e53',
        repo: 'https://github.com/DiligentYe/DiligentYe.github.io.git',
        owner: 'DiligentYe',
        admin: ['DiligentYe'],
        id: decodeURI(window.location.pathname),
      })

      gitalk.render('gitalk-container')
    </script>
  </body>

</html>
